{% if session.user.role == 1 %}
    <div class="administrator-bar">
            <div class="admin">
                <a href="/admin"><img src="../public/img/icons/profil.png" alt="Profil" title="Profil" /></a>
                <p>{{ session.user.username }}</p>
            </div>
            <div class="add-post">
                <a href="/admin/formAddPost"><img src="../public/img/icons/add.png" alt="Ajouter un article" title="Ajouter un article" /></a>
            </div>
        </div>
{% endif %}