<!DOCTYPE html>
<html lang="fr">

    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <title>Développeur PHP | Couret Alexandre - {% block title %}{% endblock %}</title>
        <meta name="description" content="Créateur d'application web sur-mesure, Couret Alexandre propose le développement de site web de qualité et adaptatif." />
        <meta name="author" content="Couret Alexandre">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <!-- CSS -->
        <link rel="stylesheet" href="/public/css/stylesheets/main.css" />

        <link rel="icon" type="image/png" href="/public/img/favicon/favicon.png">

        <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicon/favicon-96x96.png">

        <link rel="icon" type="image/png" sizes="192x192" href="/public/img/favicon/android-192x192.png">

        <link rel="apple-touch-icon" sizes="57x57"   href="/public/img/favicon/apple-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60"   href="/public/img/favicon/apple-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72"   href="/public/img/favicon/apple-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76"   href="/public/img/favicon/apple-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/public/img/favicon/apple-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/public/img/favicon/apple-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/public/img/favicon/apple-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/public/img/favicon/apple-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-180x180.png">
        <link rel="apple-touch-icon" sizes="192x192" href="/public/img/favicon/apple-192x192.png">

        <link rel="manifest" href="/public/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-310x310.png">
        <meta name="theme-color" content="#ffffff">

        <!--[if IE]>
        <link rel="shortcut icon" href="/public/img/favicon/favicon.ico" type="image/x-icon" />
        <![endif]-->

    </head>

    <body>
        <div id="body-container">
            <a href="#" class="back-to-top">Top</a>
            {{ include('header.html.twig') }}

            <div class="site-content">
                {% block body %} {% endblock %}
            </div>

            {{ include('administratorBar.html.twig') }}

            {{ include('footer.html.twig') }}
        </div>

        <script src="/vendor/components/jquery/jquery.js"></script>
        <script src="/public/js/navigation.js"></script>
        <script src="/public/js/back_to_top.js"></script>
        <script src="/public/js/anchor_index.js"></script>
        <script src="/public/js/check_registration_password.js"></script>
        <script src="/public/js/responsive_table.js"></script>
    </body>
</html>