<!DOCTYPE html>
<html lang="fr">

    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <title>Développeur PHP | Couret Alexandre - Erreur 404</title>
        <meta name="description" content="Créateur d'application web sur-mesure, Couret Alexandre propose le développement de site web de qualité et adaptatif." />
        <meta name="author" content="Couret Alexandre">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <!-- CSS -->
        <link rel="stylesheet" href="/public/css/stylesheets/main.css" />

        <link rel="icon" type="image/png" href="/public/img/favicon/favicon.png">

        <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicon/favicon-96x96.png">

        <link rel="icon" type="image/png" sizes="192x192" href="/public/img/favicon/android-192x192.png">

        <link rel="apple-touch-icon" sizes="57x57"   href="/public/img/favicon/apple-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60"   href="/public/img/favicon/apple-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72"   href="/public/img/favicon/apple-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76"   href="/public/img/favicon/apple-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/public/img/favicon/apple-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/public/img/favicon/apple-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/public/img/favicon/apple-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/public/img/favicon/apple-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-180x180.png">
        <link rel="apple-touch-icon" sizes="192x192" href="/public/img/favicon/apple-192x192.png">

        <link rel="manifest" href="/public/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-310x310.png">
        <meta name="theme-color" content="#ffffff">

        <!--[if IE]>
        <link rel="shortcut icon" href="/public/img/favicon/favicon.ico" type="image/x-icon" />
        <![endif]-->

    </head>

    <body>
        <header id="header">
            <div class="header-container">
                <div id="logo">
                    <a href="/">
                        <img src="../public/img/logo/logo.png" alt="Couret Alexandre" />
                    </a>
                </div>
            </div>
        </header>

        <div class="site-content">
            <div class="error-404-main-container">
                <div class="container container-star">
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-1"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                    <div class="star-2"></div>
                </div>
                <div class="container container-bird">
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bird bird-anim">
                        <div class="bird-container">
                            <div class="wing wing-left">
                                <div class="wing-left-top"></div>
                            </div>
                            <div class="wing wing-right">
                                <div class="wing-right-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-title">
                    <div class="title">
                        <div class="number">4</div>
                        <div class="moon">
                            <div class="face">
                                <div class="mouth"></div>
                                <div class="eyes">
                                    <div class="eye-left"></div>
                                    <div class="eye-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="number">4</div>
                    </div>
                    <div class="text">
                        <p>Oops! Il semble que rien n'a été trouvé à cet endroit...</p>
                    </div>
                    <div class="home-link">
                        <a href="/">Retour à la page d'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>






