<footer>
    <h2>Contactez-moi</h2>
    <div class="contact-footer">
    <p><img src="../public/img/icons/mail.png" alt="Formulaire de contact" />Email:<a href="#">Formulaire de contact</a></p>
    <p><img src="../public/img/icons/linkedin.png" alt="Réseau social" />Réseau social:<a href="https://www.linkedin.com/in/alexandre-couret/">Linkedin</a></p>
    </div>
    <div class="copyright-footer">
        <div class="copyright">
            <img src="../public/img/icons/copyright.png" alt="Copyright" />
            <p>Copyright 2019. Tous droits réservés</p>
        </div>
        {% if session.user is defined %}

        {% else %}
            <div class="admin-footer">
                <a href="/login"><img src="../public/img/icons/login.png" alt="Identification" /></a>
            </div>
        {% endif %}
    </div>
</footer>