<header id="header">
    <div class="header-container">
        <div id="logo">
            <a href="#">
                <img src="../public/img/logo/logo.png" alt="Couret Alexandre" />
            </a>
        </div>

        <div class="nav-container">
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="title">
        <h1>Développeur d'application</h1>
        <div class="separation">
            <hr class="line">
            <img src="../public/img/icons/code.png" alt="" />
            <hr class="line">
        </div>
        <h2>Création de sites web <b>sur-mesure</b> & <b>adaptatif</b></h2>
    </div>
</header>