{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}


{% block body %}
    <section class="homeAdmin-main-container">
        <h2>Administration</h2>

        {% if message != null %}
            <div class="error">
                <p class="message">{{ message }}</p>
            </div>
        {% endif %}

        <div class="add-post-link">
            <a href="/admin/formAddPost">Ajouter article</a>
        </div>

        <div class="add-post-link">
            <a href="/admin/formAddPost">Ajouter article</a>
        </div>

    </section>




{% endblock %}