{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <div id="title">
        <h1>Développeur d'application</h1>
        <div class="separation">
            <hr class="line">
            <img src="../public/img/icons/code.png" alt="" />
            <hr class="line">
        </div>
        <h2>Création de sites web <b>sur-mesure</b> & <b>adaptatif</b></h2>
    </div>

    <div class="index-main-container">
        <div class="banner">
            <img src="../public/img/banner/home.jpg" alt="" />
        </div>

        <div class="container-last-posts">
            <h2>Dernières réalisations</h2>
            <div class="last-posts">
                <div class="grid">
                    <figure>
                        <img class="img-figure" src="../public/img/placeholder.jpg" alt="#" />
                        <figcaption>
                            <div class="blur"></div>
                            <div class="text">
                                <h3>Titre</h3>
                                <p class="date">23 Mars 2019</p>
                                <p class="description">Texte court qui résume le blog qui va être développé.</p>
                            </div>
                            <a href="#"><img class="icon-view" src="../public/img/icons/view.png" alt="" /></a>
                        </figcaption>
                    </figure>
                </div>

                <div class="grid">
                    <figure>
                        <img class="img-figure" src="../public/img/placeholder.jpg" alt="#" />
                        <figcaption>
                            <div class="blur"></div>
                            <div class="text">
                                <h3>Titre</h3>
                                <p class="date">5 Mars 2019</p>
                                <p class="description">Texte court qui résume le blog qui va être développé.</p>
                            </div>
                            <a href="#"><img class="icon-view" src="../public/img/icons/view.png" alt="" /></a>
                        </figcaption>
                    </figure>
                </div>

                <div class="grid">
                    <figure>
                        <img class="img-figure" src="../public/img/placeholder.jpg" alt="#" />
                        <figcaption>
                            <div class="blur"></div>
                            <div class="text">
                                <h3>Titre</h3>
                                <p class="date">18 Février 2019</p>
                                <p class="description">Texte court qui résume le blog qui va être développé.</p>
                            </div>
                            <a href="#"><img class="icon-view" src="../public/img/icons/view.png" alt="" /></a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="portfolio-link">
                <a href="#">Portfolio</a>
            </div>
        </div>

        <hr class="line">

        <div class="about">
            <h2>A propos</h2>
            <div class="left-quote">
                <img src="../public/img/icons/left_quote.png" alt="">
            </div>
            <p>Diplomé en tant que Développeur Web Junior, je poursuis ma formation au près de l'école en ligne <a class="openclassrooms" href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony">OpenClassrooms</a> avec le parcours Développeur d'Application PHP.</p>
            <p>J'ai pu acquérir, par la réalisation de projets web, une expérience solide sur différents langages et technologies utilisées dans le milieu du développement. </p>
            <p>J'applique une grande attention particulière sur le Responsive Design, l'accessibilité et le référencement naturel (SEO).</p>
            <p>Par une veille technologique quotidienne, je me tiens informé des nouveaux outils, des bonnes pratiques du web, afin d'étoffé mes connaissances et ainsi rester dans les tendances du moment. Dans ce monde qui est en perpétuel évolution.</p>
            <div class="right-quote">
                <img src="../public/img/icons/right_quote.png" alt="" />
            </div>
            <a class="download" href="../public/download/CV.pdf">Télécharger mon CV</a>
        </div>

        <hr class="line">

        <div class="container-tools-dev">
            <h2>Mes outils de développement</h2>
            <div class="tools-dev">
                <div class="first-tools">
                    <img src="../public/img/icons/html5.png" alt="HTML5" />
                    <img src="../public/img/icons/css3.png" alt="CSS3" />
                    <img src="../public/img/icons/sass.png" alt="SASS" />
                </div>
                <div class="second-tools">
                    <img src="../public/img/icons/jquery.png" alt="jQuery" />
                    <img src="../public/img/icons/php.png" alt="PHP" />
                    <img src="../public/img/icons/mysql.png" alt="MySQL" />
                </div>
            </div>
        </div>

        <hr class="line">

        <div class="container-tools-open-source">
            <h2>Mes outils open source</h2>
            <div class="tools-open-source">
                <div class="tools wordpress">
                    <img src="../public/img/icons/wordpress.png" alt="WordPress" />
                    <p>Wordpress est un CMS, c'est à dire un gestionnaire de contenu.</p>
                    <p>Il facilite la création et l'administration de site web, en permettant à l'utilisateur d'être autonome sur la gestion de son contenu, via son interface, très simple d'utilisation.</p>
                </div>

                <div class="tools symfony">
                    <img src="../public/img/icons/symfony.png" alt="Symfony" />
                    <p>Symfony est un framework PHP.</p>
                    <p>C'est une sorte de boîte à outils, qui propose des fonctionnalités pour faciliter, accélérer et même automatiser certaines partie du travail. Cela évite de réinventer la roue à chaque projet.</p>
                    <p>Ce type de solution est particulièrement adaptée pour les applications nécessitant d'importants développements.</p>
                </div>

                <div class="tools git">
                    <img src="../public/img/icons/git.png" alt="Git" />
                    <p>Git est un système de contrôle de version décentralisé. </p>
                    <p>Il permet de hierarchisé le développement d'une application et rend possible la vérification du code au fur et à mesure de sa conception.</p>
                    <p>Il permet également de travailler à plusieurs sur un même projet.</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}