{% extends "base.html.twig" %}

{% block title %}Identification{% endblock %}

{% block body %}
    <div class="login-main-container">
        <h2>Identification</h2>

        {% if message %}
            <div class="message-container">
                <div class="error">
                    <p class="message">{{ message }}</p>
                </div>
            </div>
        {% endif %}

        <div class="form-container">
            <form method="post" action="/connection">
                <div class="input-container">
                    <input id="username" type="text" name="username" required="required" />
                    <span class="border"></span>
                    <label for="username">Pseudo</label>
                </div>
                <div class="input-container">
                    <input id="password" type="password" name="password" required="required" />
                    <span class="border"></span>
                    <label for="password">Mot de passe</label>
                </div>
                <input type="hidden" name="token" id="token" value="{{ token }}" />
                <div class="submit-container">
                    <input class="submit" type="submit" value="Se connecter" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}