{% extends "base.html.twig" %}

{% block title %}Formulaire des articles{% endblock %}


{% block body %}
    <section class="postForm-main-container">
        {% if message == null %}
            <h2>Ajouter un article</h2>
        {% endif %}

        <div class="error-container">
            {% if messageIfEmpty %}
                <div class="error">
                    <p class="message">{{ messageIfEmpty }}</p>
                </div>
            {% endif %}
        </div>

        <div class="confirm-container">
            {% if messagePostAddConfirmed %}
                <div class="confirm">
                    <p class="message">{{ messagePostAddConfirmed }}</p>
                </div>
            {% endif %}
        </div>

        <div class="form-container">
            <form method="post" action="/admin/addPost">

                <div class="input-container">
                    <input id="title-post" type="text" name="title-post" required="required" />
                    <label for="title-post">Titre</label>
                </div>

                <div class="textarea-container">
                    <textarea id="summary" name="summary" required="required"></textarea>
                    <label for="summary">Résumé</label>
                </div>

                <div class="textarea-container">
                    <textarea id="content" name="content" required="required"></textarea>
                    <label for="content">Contenu</label>
                </div>

                <div class="submit-container">
                    <input class="submit" type="submit" value="Ajouter" />
                </div>
            </form>
        </div>
    </section>

{% endblock %}