.homeAdmin-main-container {
    @include main-container;
    width: 95%;
    height: 100%;

    h2 {
        @include h2;
    }

    .add-post-link {
        display: flex;
        justify-content: center;
        padding: 10px;

        a {
            @include slide-link;
            border-color: $green;

            &:after {
                background: $green;
            }
        }
    }

    .listPosts-empty {
        height: 70vh;
        margin-top: 40px;
    }

    .modal {
        @include modal;

        .modal-content {

            .post-title {
                text-transform: uppercase;
                color: $blue;
            }
        }
    }

    .message-container {
        @include message;

        .error, .confirm {
            padding: 15px;
        }
    }

    .post-table {
        @include table;
        margin-bottom: 40px;

        td, th {
            min-width: 130px;
        }
    }

    /* Rend le tableau responsive */
    @include laptops {

        @include table-responsive;
    }

    .paging-container {
        @include paging;

        @include laptops {
            padding-bottom: 90px;
        }
    }
}