.homeAdmin-main-container {
    @include main-container;

    h2 {
        @include h2;
    }

    .message-container {

        .error, .confirm {
            display: flex;
            justify-content: center;
            padding: 15px;

            .message {
                font-size: 28px;
            }
        }

        .error {
            .message {
                color: $red;
            }
        }

        .confirm {
            .message {
                color: $green;
            }
        }
    }

    .add-post-link {
        display: flex;
        justify-content: center;
        padding: 10px;

        a {
            @include slide-link;
            border-color: green;

            &:after {
                background: green;
            }
        }
    }

    .post-table {

        tbody {

            img {
                height: 35px;
                width: 35px;
            }
        }
    }
}