#title {
    margin-top: 150px;
    text-align: center;

    @include laptops {
        margin-top: 100px;
    }

    @include tablets {
        margin: 0;
    }

    h1 {
        color: $blue;

        @include laptops {
            font-size: 55px;
        }

        @include tablets {
            margin-top: 20px;
            font-size: 45px;
        }
    }

    .separation {
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            width: 25%;
            height: 2px;
            margin: 0;
            background-color: $blue;
            border: none;
        }

        img {
            width: 50px;
            height: 50px;
            padding: 0 15px 0 15px;
        }
    }

    h2 {
        color: $black;

        @include laptops {
            font-size: 45px;
        }

        @include tablets {
            font-size: 35px;
        }
    }
}

.index-main-container {

    h2 {
        margin-top: 20px;
        color: $blue;
        text-align: center;
    }

    .line {
        width: 75%;
        height: 2px;
        margin: auto;
        background-color: $blue;
        border: none;

        @include tablets {
            width: 85%;
        }
    }

    .banner {
        display: flex;
        justify-content: center;
        max-height: 1000px;
        padding: 25px 0 10px 0;

        @include laptops {
            max-height: 250px;
        }

        @include phablets {
            max-height: 200px;
        }

        img {
            max-width: 100%;
        }
    }

    .container-last-posts, .about, .container-tools-dev, .container-tools-open-source, .contact-container {
        width: 70%;
        margin: auto;

        @include tablets{
            width: 90%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .last-posts {
        display: flex;

        @include desktops{
            flex-direction: column;
            width: 100%;
        }

        .post {
            display: flex;
            flex-direction: column;
            height: 350px;
            width: 50%;
            margin: 15px;
            padding: 15px;
            border: 5px solid $blue;
            border-radius: 15px;

            @include desktops{
                align-self: center;
                width: 90%;
                margin: 15px 0;
            }

            .title {
                text-align: center;
                color: $blue;
            }

            .date {
                font-size: 18px;
                align-self: center;
            }

            .description {
                display: flex;
                align-items: center;
                height: 100%;
                margin: 15px 0;
                text-align: justify;
            }

            .link {
                display: flex;
                align-self: flex-end;

                a {
                    align-self: flex-end;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .posts-link {
        display: flex;
        justify-content: center;

        a {
            @include slide-link;
            margin: 25px 0;
        }
    }

    .about {
        display: flex;
        flex-direction: column;

        @include tablets {
            width: 90%;
        }

        @include phablets {
            width: 100%;
        }

        img {
            width: 50px;
            height: 50px;
            padding: 15px;
        }

        .left-quote {
            align-self: flex-start;
        }

        p {
            width: 90%;
            margin: auto;
            padding-bottom: 20px;
            line-height: 1.2;
            text-align: justify;

            @include tablets {
                width: 80%;
            }
        }

        .right-quote {
            align-self: flex-end;
        }

        a {
            margin: 25px 0;
            text-decoration: none;
        }

        .openclassrooms {
            color: $blue;

            &:hover {
                text-decoration: underline solid $blue;
            }
        }

        .download {
            align-self: center;
            width: fit-content;
            @include slide-link;
        }
    }

    .tools-dev {
        display: flex;
        justify-content: space-around;
        padding: 25px 0;

        @media (max-width: 1365px) {
            flex-direction: column;
        }

        .first-tools,  .second-tools {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        img {
            max-width:  135px;
            max-height: 135px;
            min-width:  135px;
            padding: 10px;

            @include phablets {
                max-width:  100px;
                max-height: 100px;
                min-width:  100px;
            }
        }
    }

    .tools-open-source {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0 30px 0;

        .tools {
            height: 400px;
            width: 80%;
            max-width: 1350px;
            margin: 10px;
            padding: 10px;
            text-align: center;

            img {
                width: 50px;
                height: 50px;
                padding: 10px 0;
            }

            .tools-container-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 80%;
                min-height: 250px;

                p {
                    width: 90%;
                    padding-bottom: 20px;
                    text-align: justify;
                    color: $white;
                }
            }
        }

        .wordpress, .symfony, .git {

            @include desktops {
                min-height: 350px;
            }
        }

        .wordpress {
            background-color: $blue-WP;
        }

        .symfony {
            background-color: $black;
        }

        .git {
            background-color: $orange;
        }
    }

    .contact-container {
        margin-top: 25px;
        padding-bottom: 250px;

        .message-container {
            @include message;
            margin-bottom: 20px;
            padding: 0 15px;
        }

        .form-container {
            display: flex;
            width: 100%;
            margin-bottom: 50px;

            @include laptops {
                margin-bottom: 180px;
            }

            form {
                @include form;
                align-items: initial;
                max-width: 1000px;

                .error-container {
                    width: 90%;
                    margin: auto;

                    &:first-child {
                        margin-top: 20px;
                    }

                    .error {
                        @include error-form;
                    }
                }

                .input-container, .textarea-container {
                    margin-right: 20px;
                    margin-left: 20px;

                    input, textarea {
                        width: 98%;

                        &:focus ~ .border:before {
                            width: 100%;
                        }
                    }

                    textarea {
                        height: 150px;
                        font-family: Arial, "Nunito", sans-serif;
                    }
                }

                .submit-container {
                    align-self: center;
                }
            }
        }
    }
}