.main-container {

    h2 {
        color: $blue;
        text-align: center;
    }

    .line {
        width: 75%;
        height: 2px;
        margin: auto;
        background-color: $blue;
        border: none;
    }

    .banner {
        display: flex;
        justify-content: center;
        padding: 25px 0 10px 0;

        img {
            max-height: 1150px;
            max-width: 100%;
        }
    }

    .last-posts, .about, .tools-dev, .tools-open-source {
        margin: 25px 0;
    }

    .container-posts {
        display: flex;
        justify-content: space-around;
        margin: 20px 20px 0 20px;

        .grid {
            padding: 1em 0 4em;
            max-width: 1000px;

            figure {
                position: relative;
                overflow: hidden;
                padding: 0;

                &:hover figcaption {
                    opacity: 1;
                }

                .img-figure {
                    max-height: 30vh;
                    max-width: 26vw;
                    border-radius: 5px;
                    float: left;
                }

                figcaption {
                    opacity: 0;
                    -webkit-transition:all 0.45s ease-in-out;
                    -moz-transition:all 0.45s ease-in-out;
                    -o-transition:all 0.45s ease-in-out;
                    transition:all 0.45s ease-in-out;

                    .blur {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.65);
                    }

                    .text {
                        position: absolute;
                        text-align: center;
                        color: $white;

                        h3 {
                            margin-top: 15px;
                            padding: 5px 0;
                            font-size: 22px;
                        }

                        .date {
                            margin-bottom: 20px;
                            font: {
                                style: italic;
                                size: 18px;
                            }
                        }

                        .description {
                            width: 80%;
                            margin: auto;
                            margin-top: 25%;
                        }
                    }

                    a {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin-right: 15px;
                        text-decoration: none;

                        .icon-view {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }

    .portfolio-link {
        display: flex;
        justify-content: flex-end;

        a {
            @include slide-link;
        }
    }

    .about {
        display: flex;
        flex-direction: column;

        img {
            width: 50px;
            height: 50px;
            padding-left: 10px;

            &:last-child {
                align-self: flex-end;
                padding: 0 10px 25px 0;
            }
        }

        p {
            width: 80%;
            margin: auto;
            padding-bottom: 10px;
        }

        a {
            text-decoration: none;
        }

        .openclassrooms {
            color: $blue;

            &:hover {
                text-decoration: underline solid $blue;
            }
        }

        .download {
            align-self: center;
            width: fit-content;
            @include slide-link;
        }
    }

    .container-tools-dev {
        display: flex;
        justify-content: center;
        padding: 25px 0;

        img {
            max-width:  100px;
            max-height: 100px;
            min-width:  50px;
            min-height: 50px;
            padding: 10px;
        }
    }

    .container-tools-open-source {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

        img {
            width: 50px;
            height: 50px;
            padding: 10px 0;
        }

        p {
            width: 90%;
            margin: auto;
            padding-bottom: 20px;
            text-align: left;
            color: $white;
        }

        .tools {
            width: 33%;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }

        .wordpress {
            background-color: $blue-WP;
        }

        .symfony {
            background-color: $black;
        }

        .git {
            background-color: $orange;
        }
    }
}