.login-main-container {
    @include main-container;
    height: 100%;

    h2 {
        @include h2;
    }

    .error {
        @include error-form;
    }

    .form-container {
        display: flex;
        width: 95%;
        margin-top: 100px;

        form {
            @include form;
            height: 350px;
        }
    }
}