.posts-main-container {
    @include main-container;
    height: 100%;

    h2 {
        @include h2;
    }

    .message-container {
        @include message;
        margin-bottom: 20px;
    }

    .posts-empty {
        height: 70vh;
    }

    .post-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: 15px;
        padding: 25px 15px;
        color: $white;
        background-color: $blue;

        h3 {
            padding: 10px 0;
            text-align: center;
        }

        .date {
            font-size: 15px;
        }

        .summary {
            width: 80%;
            margin: auto;
            padding: 30px 0;
        }

        .post-link {
            display: flex;
            justify-content: center;

            a {
                @include slide-link;
                border-color: $white;
                color: $white;

                &:after {
                  background-color: $white;
                }

                &:hover {
                    color: $blue;
                    transition: color 0.35s  ease-in-out;
                }
            }
        }
    }

    .paging-container {
        @include paging;

        @include laptops {
            margin-bottom: 430px;
        }
    }
}
