.post-main-container {
    @include main-container;
    height: 100%;
    padding-bottom: 400px;

    h2 {
        @include h2;
    }

    .post-container {
        width: 95%;
        padding: 20px;
        color: $white;
        background-color: $blue;
        border-radius: 10px;

        .author-date-post-container {
            display: flex;
            justify-content: space-between;

            p {
                padding: 10px;
                text-align: center;
                color: $black;
                font-variant: all-small-caps;
                font-weight: bold;

                .author {
                    color: $white;
                }
            }
        }

        .summary, .content {
            margin: 20px 10px;
            text-align: justify;
            line-height: 1.2;
        }

        .content {
            margin-top: 35px;
        }
    }

    .message-container {
        @include message;
        margin-top: 20px;
    }

    .comment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;

        h3 {
            margin-top: 20px;
            text-align: center;
        }

        .wish-comment {
            margin: 20px 0;
            text-align: center;

            a {
                color: $blue;
                text-decoration: none;

                &:hover {
                    text-decoration: underline solid $blue;
                }
            }
        }

        .form-container {
            display: flex;
            width: 95%;
            max-width: 1100px;
            margin: 0 25px 25px 25px;
            padding-top: 40px;
            background-color: $blue;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                max-width: 750px;
                margin: auto;

                .textarea-container {
                    position: relative;
                    width: 95%;
                    margin: 25px 0;

                    textarea {
                        width: 100%;
                        padding: 10px 5px;
                        font-size: 18px;
                        border: none;
                        border-radius: 5px;
                        font-family: "Nunito", sans-serif;
                    }

                    label {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: 22px;
                        color: mix($white, $grey, 70%);
                        transition: 300ms ease all;
                    }
                }

                .submit-container {
                    margin-bottom: 40px;

                    .submit {
                        padding: 15px;
                        border: 1px solid $white;
                        border-radius: 5px;
                        font-size: 18px;
                        text-transform: uppercase;
                        cursor: pointer;
                        color: $white;
                        background: none;
                        transition: 0.65s;

                        &:hover, &:focus {
                            color: $blue;
                            box-shadow: inset 150px 0 0 0 $white;
                        }
                    }
                }
            }
        }

        .comments {
            width: 90%;
            max-width: 1200px;
            padding: 15px;
            margin: 20px 0;
            border-radius: 15px;
            background-color: $blue;

            .author-date-comments-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-variant: all-small-caps;
                font-weight: bold;

                .author {
                    padding: 5px;
                    border-radius: 5px;
                    color: $blue;
                    background-color: $white;
                }

                .date {
                    padding: 5px;
                    font-style: italic;
                }
            }

            .content {
                padding: 10px 5px;
                margin-top: 15px;
                word-break: break-all;
            }

            &:last-child {
                margin-bottom: 250px;
            }
        }
    }
}