.registration-main-container {
    @include main-container;
    height: auto;

    h2 {
        @include h2;
    }

    .post-comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
        text-align: center;

        p:last-child {
            margin-top: 10px;
        }
    }

    .error-container {
        width: 90%;
        margin: auto;

        .error {
            @include error-form;
        }
    }

    .form-container {
        display: flex;
        width: 100%;
        margin-bottom: 260px;

        form {
            @include form;
        }
    }
}