.registration-main-container {
    @include main-container;
    height: auto;

    @include phablets {
        width: 95%;
    }

    h2 {
        @include h2;
    }

    .post-comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
        text-align: center;

        p {
            margin-top: 10px;

            a {
                color: $blue;
                text-decoration: none;
            }
        }

        p:first-child {
            margin-top: 0;
        }
    }

    .message-container {
        @include message;
        margin-bottom: 20px;
    }

    .form-container {
        display: flex;
        width: 100%;
        margin-bottom: 260px;

        @include laptops {
            margin-bottom: 220px;
        }

        form {
            @include form;
            margin-bottom: 20px;

            @include laptops {
                margin-bottom: 200px;
            }

            .error-container {
                width: 90%;
                margin: auto;

                &:first-child {
                    margin-top: 20px;
                }

                .error {
                    @include error-form;
                }
            }
        }
    }
}