// Colors
$blue-light: rgb(127, 215, 247);
$blue-WP: rgb(0, 115, 170);
$blue:    rgb(0,175,239);
$white:   rgb(255,255,255);
$black:   rgb(0,0,0);
$orange:  rgb(244, 77, 39);
$grey: rgb(66, 66, 66);


// Breakpoints
$mobile :  240px;
$phablets: 490px;
$tablets:  740px;
$laptops:  980px;
$desktops: 1220px;

// Headings
$base-font-size: 18px;
$heading-scale: 10;

/// Font
$min-font: 16px;
$max_font: 26px;