 #header {
     position: relative;
     z-index: 10;

     .header-container {
         height: 200px;
         padding: 35px 0;
         text-align: center;

         @include tablets {
             padding: 0;
         }

         #logo {

             img {
                 max-width: 800px;
                 padding-bottom: 20px;

                 @include laptops {
                     max-width: 85%;
                 }
             }
         }
     }
 }