 #header {

     .header-container {
         height: 200px;
         padding: 35px 0;
         text-align: center;

         #logo {

             img {
                 max-width: 800px;
                 padding-bottom: 20px;

                 @include laptops {
                     max-width: 730px;
                 }

                 @include tablets {
                     max-width: 480px;
                     padding-bottom: 10px;
                 }

                 @include mobile {
                     max-width: 230px;
                 }
             }
         }
     }
 }